flows.json
[
    {
        "id": "aaa5096082bd5d7d",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "01e65a1a94b60903",
        "type": "function",
        "z": "aaa5096082bd5d7d",
        "name": "function 11",
        "func": "// Check if msg.payload and msg.payload.data exist and are objects\nif (msg.payload && msg.payload.data && typeof msg.payload.data === 'object') {\n    // Copy properties from msg.payload.data to msg.payload\n    for (let key in msg.payload.data) {\n        if (msg.payload.data.hasOwnProperty(key)) {\n            msg.payload[key] = msg.payload.data[key];\n        }\n    }\n    // Remove the original data object from msg.payload\n    delete msg.payload.data;\n} else {\n    node.error(\"msg.payload.data is not an object\", msg);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "3cd79a562c323a6f",
                "b7050a7f5790eb07"
            ]
        ]
    },
    {
        "id": "b7050a7f5790eb07",
        "type": "template",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "price",
        "output": "str",
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "5216fd5a947914e3"
            ]
        ]
    },
    {
        "id": "5216fd5a947914e3",
        "type": "file",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1200,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "029847f1bade95ea",
        "type": "http in",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "url": "/sse",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 740,
        "y": 620,
        "wires": [
            [
                "3cd79a562c323a6f"
            ]
        ]
    },
    {
        "id": "2e04a8c96c8f58bd",
        "type": "debug",
        "z": "aaa5096082bd5d7d",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "3cd79a562c323a6f",
        "type": "sse-server",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "event": "message",
        "data": "",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "41e7ef92410b04d3",
        "type": "mqtt in",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "topic": "prices",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9deea4bd870b123",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "01e65a1a94b60903",
                "2e04a8c96c8f58bd"
            ]
        ]
    },
    {
        "id": "16397c8f1925210e",
        "type": "http in",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "url": "/price",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 600,
        "y": 720,
        "wires": [
            [
                "51f1ac01a4f9a5fb"
            ]
        ]
    },
    {
        "id": "51f1ac01a4f9a5fb",
        "type": "file in",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "filename": "price",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "e7cb804669b23f7d"
            ]
        ]
    },
    {
        "id": "e7cb804669b23f7d",
        "type": "http response",
        "z": "aaa5096082bd5d7d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 720,
        "wires": []
    },
    {
        "id": "c9deea4bd870b123",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
